@use "../../styles/vars" as *;
@use "../../styles/responsive" as *;

.menuContainer {
  position: relative;
}

.menu {
  position: sticky;
  top: 10px;

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;
      @include lg {
        display: none;
      }
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      text-transform: capitalize;

      &:hover {
        background-color: $soft-bg;
        transition: .3s;
      }

      .listItemTitle {
        @include lg {
          display: none;
        }
      }
    }
  }
}