.dataTable {
  padding: 20px;

  .MuiDataGrid-toolbar {
    flex-direction: row-reverse;
  }

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }

  .action {
    display: flex;
  }
}