.dataTable {
  padding: 20px;

  .MuiDataGrid-toolbar {
    flex-direction: row-reverse;
  }

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .action--cell {
    display: flex;
    align-items: center;
  }

  .action {
    display: flex;
    align-items: center;
    column-gap: 15px;

    .action-item {
      display: flex;
    }

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}